@font-face {
    font-family: "TikTok Sans";
    src: url("../fonts/TikTok_Sans/TikTokSans-VariableFont.ttf") format("truetype-variations");
    font-style: normal;
    font-weight: 500 900;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC.ttf") format("truetype-variations");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans Italic";
    src: url("../fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC.ttf") format("truetype-variations");
    font-style: italic;
    font-display: swap;
}