/* ================== */
/* ||    GENERAL      */
/* ================== */

:root {
    --header-font-family: "TikTok Sans",
        Arial,
        Helvetica,
        sans-serif;
    --body-font-family: 'Nunito Sans',
        Arial,
        Helvetica,
        sans-serif;

    --border-w2: 2px;

    --m10: 10px;
    --m15: 15px;

    --pd-10: 10px;
    --pd-15: 15px;

    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-30: 30px;

    --button-hover-bg-clr: #f0f0f0;
    --button-hover-text-clr: #2c5530;
    --button-accent-bg-clr: hsl(27, 55%, 51%);

    --focus-clr: rgba(71, 71, 126, 0.6);
    --error-clr: red;
    --success-clr: rgb(54, 216, 54);
    --disabled-bg-clr: rgb(95, 95, 95);
    --disabled-text-clr: rgb(65, 65, 65);

    --text-black-clr: black;
    --text-inactive-clr: hsl(0, 0%, 37%);
    --text-white-clr: white;

    --section-bg-primary-1-clr: white;
    --section-bg-primary-2-clr: hsl(218, 29%, 95%);
    --secondary-clr: hsl(215, 23%, 33%);

    font-family: var(--body-font-family);
    scroll-behavior: smooth;
}

.button {
    border: none;
    background: none;
}

.button__icon {
    width: 100%;
}

.cart-button {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
}

.price {
    font-size: 1.1rem;
}

.price::after {
    content: "$";
    display: inline-block;
    margin-left: 2px;
}

/* ================== */
/* || INTERACTIVITY   */
/* ================== */

/* || Links */

.nav__link:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-clr);
    color: var(--button-hover-text-clr);
}

/* || Buttons */

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

/*
:focus-visible
apply styles only when focused by keyboard but NOT THE MOUSE
*/
.button:focus-visible {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* || Inputs */

/* focus */
.input:focus,
.textarea:focus {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* required */
*:required,
*[aria-required="true"] {
    position: relative;
}

*:required::after,
*[aria-required="true"]::after {
    content: "*";
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--error-clr);
}

/* invalid after interaction */
*:user-invalid,
*[aria-user-invalid="true"] {
    border: var(--border-w2) solid var(--error-clr);
}

/* valid after interaction*/
*:user-valid:not(.button),
*[aria-user-valid="true"]:not(.button) {
    border: var(--border-w2) solid var(--success-clr);
}

/* disabled */
*:disabled,
*[aria-disabled="true"] {
    cursor: not-allowed;
}

/* ================== */
/* ||    LAYOUT       */
/* ================== */

/* sections */

.section {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section__title {
    color: var(--secondary-clr);
    font-family: var(--header-font-family);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.section__subtitle {
    color: var(--secondary-clr);
    font-family: var(--header-font-family);
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
}

/* #hero */
#hero {
    height: 100vh;
    gap: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    padding: 0;
}

.hero__content {
    position: relative;
    flex: 1;
    height: 100%;
    background: url("/img/banner.png") top right no-repeat;
    background-size: contain;
}

.hero__content-block {
    position: absolute;
    left: 200px;
    bottom: 100px;
}

.hero__title {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-size: 6.5rem;
    font-weight: 900;
}

.hero__title .accent {
    font-size: 7rem;
    color: white;
    background-color: var(--button-accent-bg-clr);
    padding: 20px 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    margin-bottom: 40px;
}

.logo {
    width: min(100%, 140px);
}

.sidebar {
    background: var(--secondary-clr);
    height: 100%;
    width: min(500px, 20vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nav__list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__link {
    color: var(--text-white-clr);
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* #build-your-base */
#build-your-base {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#build-your-base .section__cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px
}

#build-your-base .card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#build-your-base .card__image {
    width: 96px;
}

#build-your-base .card__text {
    text-align: center;
    font-size: 1.1rem;
}

/* #products */
#products .section__cards {
    margin: 0 100px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: start;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
}

.product__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    padding: 20px;
}

.product__title {
    font-size: 1.4rem;
    margin: 0;
}

.product__image {
    margin: 0 auto;
    width: clamp(100px, min(100%, 10vmax), 300px);
}

/* #giftsets */
#giftsets {
    background-color: var(--section-bg-primary-2-clr);
}

#giftsets .section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.giftset {
    width: 60vmin;
    display: flex;
    align-items: center;
    background-color: var(--section-bg-primary-1-clr);
}

.giftset .selector {
    display: flex;
    flex-direction: column;
}

.giftset .selector__item {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-inactive-clr);
    width: 100px;
    aspect-ratio: 1/1;
}

.giftset__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.giftset__title {
    font-size: 2rem;
    font-weight: bold;
}

.giftset__properties {
    display: flex;
}

.giftset__order-button {
    font-size: 0.9rem;
    color: white;
    background-color: var(--button-accent-bg-clr);
    padding: 8px 40px;
    border-radius: 10px;
}

.giftset__actions {
    display: flex;
    justify-content: space-around;
}

.property {
    padding: 10px;
    display: flex;
}

.property__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.property__title {
    font-size: 0.8rem;
    color: var(--text-inactive-clr);
}

/* #combos */
#combos .selector {
    width: min(100%, 1500px);
    display: flex;
    justify-content: space-around;
}

#combos .selector__item {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.combo__title {
    font-size: 1.4rem;
    font-weight: bold;
}

/* #footer */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--section-bg-primary-2-clr);
}