/* ================== */
/* ||    GENERAL      */
/* ================== */

:root {
    --header-font-family: "TikTok Sans",
        Arial,
        Helvetica,
        sans-serif;
    --body-font-family: 'Nunito Sans',
        Arial,
        Helvetica,
        sans-serif;

    --border-w2: 2px;

    --m10: 10px;
    --m15: 15px;

    --pd-10: 10px;
    --pd-15: 15px;

    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-30: 30px;

    --button-hover-bg-clr: #f0f0f0;
    --button-hover-text-clr: #2c5530;
    --button-accent-bg-clr: hsl(27, 55%, 51%);

    --focus-clr: rgba(71, 71, 126, 0.6);
    --error-clr: red;
    --success-clr: rgb(54, 216, 54);
    --disabled-bg-clr: rgb(95, 95, 95);
    --disabled-text-clr: rgb(65, 65, 65);

    --text-black-clr: black;
    --text-inactive-clr: hsl(0, 0%, 37%);
    --text-white-clr: white;

    --section-bg-primary-1-clr: white;
    --section-bg-primary-2-clr: hsl(218, 29%, 95%);
    --secondary-clr: hsl(215, 23%, 33%);

    --card-shadow: 0 0 15px rgba(194, 194, 194, 0.4);

    font-family: var(--body-font-family);
    scroll-behavior: smooth;
}

.phone-navbar {
    display: none;
}

.price {
    font-size: 1.2rem;
}

.price-container {
    display: flex;
}

.price::after {
    content: "$";
    display: inline-block;
    margin-left: 2px;
}

/* ================== */
/* || INTERACTIVITY   */
/* ================== */

/* || Links */

.nav__link:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-clr);
    color: var(--button-hover-text-clr);
}

/* || Buttons */

.button {
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    background: none;
    border-radius: 10px;
    transition: all ease-in-out 500ms;
}

.button__icon {
    --size: 48px;
    width: var(--size);
    aspect-ratio: 1/1;
}

.learn-more-button {
    background-color: var(--section-bg-primary-2-clr);
}

.order-button {
    color: white;
    background-color: var(--button-accent-bg-clr);
}

.button:hover {
    cursor: pointer;
}

/*
:focus-visible
apply styles only when focused by keyboard but NOT THE MOUSE
*/
.button:focus-visible {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* || Inputs */

/* focus */
.input:focus,
.textarea:focus {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* required */
*:required,
*[aria-required="true"] {
    position: relative;
}

*:required::after,
*[aria-required="true"]::after {
    content: "*";
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--error-clr);
}

/* invalid after interaction */
*:user-invalid,
*[aria-user-invalid="true"] {
    border: var(--border-w2) solid var(--error-clr);
}

/* valid after interaction*/
*:user-valid:not(.button),
*[aria-user-valid="true"]:not(.button) {
    border: var(--border-w2) solid var(--success-clr);
}

/* disabled */
*:disabled,
*[aria-disabled="true"] {
    cursor: not-allowed;
}

/* ================== */
/* ||    LAYOUT       */
/* ================== */

/* sections */

.section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section__title {
    color: var(--secondary-clr);
    font-family: var(--header-font-family);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.section__subtitle {
    color: var(--secondary-clr);
    font-family: var(--header-font-family);
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
}

/* cards */
.card__actions {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

/* #hero */
#hero {
    --bg-offset: 600px;
    --left-margin: 200px;
    background: url("../img/banner.png") no-repeat;
    background-size: cover;
    background-position: var(--bg-offset) center;

    height: 100vh;
    gap: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    padding: 0;
}

.logo {
    position: absolute;
    left: var(--left-margin);
    top: 100px;
    width: min(100%, 140px);
}

.hero__content {
    position: relative;
    flex: 1;
    height: 100%;
}

.hero__content-block {
    position: absolute;
    left: var(--left-margin);
    bottom: 100px;
}

.hero__title {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-size: 6.5rem;
    font-weight: 900;
}

.hero__title .accent {
    font-size: 7rem;
    color: white;
    background-color: var(--button-accent-bg-clr);
    padding: 20px 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    margin-bottom: 40px;
}

/* sidebar */
.sidebar {
    background: var(--secondary-clr);
    height: 100%;
    width: min(500px, 20vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav__list {
    padding: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.nav__link {
    color: var(--text-white-clr);
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* #build-your-base */
#build-your-base {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#build-your-base .section__cards {
    max-width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 30px
}

#build-your-base .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-clr);
}

#build-your-base .card__image {
    width: 96px;
}

#build-your-base .card__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#build-your-base .card__text {
    font-size: 1.1rem;
    text-align: center;
}

/* #products */
#products {
    background-image: url("../img/secondary-color-background.png");
    background-size: 20vw 100%;
    background-repeat: no-repeat;
}

#products .section__cards {
    margin: 0 100px;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    row-gap: 40px;
    column-gap: 30px;
}

.product__card {
    background-color: white;
    color: var(--secondary-clr);
    box-shadow: var(--card-shadow);
    display: flex;
    gap: 10px;
}

.product__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.product__title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.4rem;
}

.product__price {
    color: var(--button-accent-bg-clr);
    font-size: 1.4rem;
    margin: 0;
}

.product__image {
    margin: 0 auto;
    height: 100%;
}

.product__card .card__actions {
    justify-content: space-between;
}

/* #giftsets */
#giftsets {
    background-color: var(--section-bg-primary-2-clr);
}

#giftsets .section__container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.giftset {
    padding: 60px 30px;
    width: min(60vw, 1200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-bg-primary-1-clr);
}

.giftset__image {
    box-shadow: 0 10px 5px rgb(167, 167, 167, 0.3);
}

#giftsets .selector {
    display: flex;
    flex-direction: column;
}

#giftsets .selector__item,
#giftsets .selector__item--active {
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
    width: 100px;
}

#giftsets .selector__item {
    background: none;
    box-shadow: 2px 2px 5px inset rgba(129, 129, 129, 0.2);
}

#giftsets .selector__item--active {
    color: var(--text-inactive-clr);
    background: white;
}

.giftset__content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.giftset__properties {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.giftset__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.giftset__title {
    font-size: 2rem;
    font-weight: bold;
}

.giftsett__content .order-button {
    font-size: 0.9rem;
    color: white;
    background-color: var(--button-accent-bg-clr);
    padding: 8px 40px;
    border-radius: 10px;
}

.giftset__content .card__actions {
    justify-content: space-between;
}

.property {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.property__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.property__title {
    font-size: 0.8rem;
    color: var(--text-inactive-clr);
    width: max-content;
}

/* #combos */
#combos {
    background-image: url("../img/secondary-color-background.png");
    background-repeat: no-repeat;
    background-size: 20vw 100%;
    background-position: right center;
}

#combos .selector {
    width: min(80%, 1500px);
    display: flex;
    justify-content: center;
    gap: 30px;
}

.combo {
    flex: 1;
    max-width: 350px;
    background-color: white;
    color: var(--secondary-clr);
    padding: 30px;
    box-shadow: var(--card-shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.combo__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.combo .price-container {
    gap: 10px;
}

.combo__price {
    color: var(--button-accent-bg-clr);
}

.combo__price--old {
    font-size: 0.9em;
    color: var(--text-inactive-clr);
    text-decoration: line-through;
}

/* #footer */
#footer {
    color: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--section-bg-primary-2-clr);
}

/* || ADAPTIVITY */
@media (max-width: 700px) {
    body {
        /* for sticky navbar */
        position: relative;
    }

    .phone-navbar {
        z-index: 9999;
        width: 100vw;
        display: block;
        position: sticky;
        top: 0;
        padding: 10px;
        background-color: var(--secondary-clr);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section {
        padding: 40px 15px;
    }

    /* || buttons */
    .order-button {
        text-wrap-mode: nowrap;
    }

    /* || hero */
    #hero {
        background-position: center center;
        width: 100vw;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .logo {
        display: none;
    }

    .hero__content-block {
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__title {
        background-color: white;
        text-align: center;
        font-size: 2rem;
        padding: 20px;
    }

    .hero__title .accent {
        padding: 5px;
        font-size: 1em;
        margin: 10px 0;
    }

    /* || navigation */
    .sidebar {
        display: none;
    }

    /* || build-your-base */
    #build-your-base .section__cards {
        flex-direction: column;
        gap: 50px;
    }

    /* || products */
    #products {
        background-image: none;
        background-color: var(--section-bg-primary-2-clr);
    }

    #products .section__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .product__card {
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .product__image {
        max-width: 50vw;
    }

    .product__content {
        padding: 0;
        gap: 10px;
    }

    /* || giftsets */
    #giftsets .section__container {

        width: 90vw;
        flex-direction: column-reverse;
    }

    #giftsets .section__container>* {
        width: 100%;
    }

    #giftsets .selector {
        flex-direction: row;
    }

    #giftsets .selector__item {
        aspect-ratio: 1/1;
    }

    .giftset {
        padding: 20px;
        flex-direction: column;
        gap: 40px;
    }

    .giftset__content {
        gap: 20px;
        padding: 0;
    }

    .property {
        padding: 0;
    }

    .property__icon {
        --size: 54px;
        aspect-ratio: 1/1;
        width: var(--size);
        height: var(--size);
    }

    /* || combos */
    #combos {
        background-image: none;
    }

    #combos .selector {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}