/* tablets */
@media (max-width: 1050px) {

    /* hero */
    .hero__title {
        font-size: 4.4rem;
    }

    .hero__title .accent {
        font-size: inherit;
    }

    /* build-your-base */
    #build-your-base .card__title {
        font-size: 2.5rem;
    }

    #build-your-base .card__text {
        font-size: 1.5rem;
    }

    /* combos */
    #combos .selector {
        justify-content: left;
    }
}

/* phones */
@media (max-width: 700px) {
    :root {
        font-size: 20px;
    }

    body {
        /* for sticky navbar */
        position: relative;
    }

    .phone-navbar {
        z-index: 9999;
        width: 100vw;
        display: block;
        position: sticky;
        top: 0;
        padding: 10px;
        background-color: var(--secondary-clr);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section {
        padding: 40px 15px;
    }

    /* || buttons */
    .order-button {
        text-wrap-mode: nowrap;
    }

    /* || hero */
    #hero {
        background-position: center center;
        width: 100vw;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .logo {
        display: none;
    }

    .hero__content-block {
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__title {
        background-color: white;
        text-align: center;
        font-size: 2rem;
        padding: 20px;
    }

    .hero__title .accent {
        background-color: transparent;
        color: inherit;
        font-size: inherit;
    }

    /* || navigation */
    .sidebar {
        display: none;
    }

    /* || build-your-base */
    #build-your-base .section__cards {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* || products */
    #products {
        background-image: none;
        background-color: var(--section-bg-primary-2-clr);
    }

    #products .section__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .product__card {
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .product__image {
        max-width: 50vw;
    }

    .product__content {
        padding: 0;
        gap: 10px;
    }

    /* || giftsets */
    #giftsets .section__container {

        width: 90vw;
        flex-direction: column-reverse;
    }

    #giftsets .section__container>* {
        width: 100%;
    }

    #giftsets .selector {
        flex-direction: row;
    }

    #giftsets .selector__item {
        aspect-ratio: 1/1;
    }

    .giftset {
        padding: 20px;
        flex-direction: column;
        gap: 40px;
    }

    .giftset__content {
        gap: 20px;
        padding: 0;
    }

    .property {
        padding: 0;
    }

    .property__icon {
        --size: 54px;
        aspect-ratio: 1/1;
        width: var(--size);
        height: var(--size);
    }

    /* || combos */
    #combos {
        background-image: none;
    }

    #combos .selector {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}