/* ================== */
/* ||    GENERAL      */
/* ================== */

:root {
    --header-font-family: "TikTok Sans",
        Arial,
        Helvetica,
        sans-serif;
    --body-font-family: 'Nunito Sans',
        Arial,
        Helvetica,
        sans-serif;

    --border-w2: 2px;

    --m10: 10px;
    --m15: 15px;

    --pd-10: 10px;
    --pd-15: 15px;

    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-30: 30px;

    --button-hover-bg-clr: #f0f0f0;
    --button-hover-text-clr: #2c5530;
    --button-accent-bg-clr: hsl(27, 55%, 51%);

    --focus-clr: rgba(71, 71, 126, 0.6);
    --error-clr: red;
    --success-clr: rgb(54, 216, 54);
    --disabled-bg-clr: rgb(95, 95, 95);
    --disabled-text-clr: rgb(65, 65, 65);

    --text-black-clr: black;
    --text-inactive-clr: hsl(0, 0%, 37%);
    --text-white-clr: white;

    --section-bg-primary-1-clr: white;
    --section-bg-primary-2-clr: hsl(218, 29%, 95%);
    --secondary-clr: hsl(215, 23%, 33%);

    --card-shadow: 0 0 15px rgba(194, 194, 194, 0.4);

    min-height: 100vh;
    font-family: var(--body-font-family);
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.price {
    font-size: 1.2rem;
}

.price-container {
    display: flex;
}

.price::after {
    content: "$";
    display: inline-block;
    margin-left: 2px;
}

/* ================== */
/* || INTERACTIVITY   */
/* ================== */

/* || Links */

.nav__link:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-clr);
    color: var(--button-hover-text-clr);
}

/* || Buttons */

.button {
    max-width: 150px;
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    background: none;
    border-radius: 10px;
    transition: all ease-in-out 500ms;
}

.button__icon {
    --size: 48px;
    width: var(--size);
    aspect-ratio: 1/1;
}

.learn-more-button {
    background-color: var(--section-bg-primary-2-clr);
}

.order-button {
    color: white;
    background-color: var(--button-accent-bg-clr);
}

.button:hover {
    cursor: pointer;
}

.sidebar__toggle-button {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    max-width: none;
    width: 100vw;
    background-color: var(--secondary-clr);
    border-radius: 0;
}

/* 'scroll to top' button */
.scroll-top {
    --size: 64px;
    --offset: 50px;

    background: url("../assets/icons/double-chevron-48.png") no-repeat, white;
    background-position: center center;
    object-fit: fill;

    overflow: clip;
    position: fixed;
    aspect-ratio: 1/1;
    bottom: var(--offset);
    right: var(--offset);
    width: var(--size);
    height: var(--size);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-top:hover {
    background: #1e3a23;
    transform: scale(1.1);
}

.scroll-top:active {
    transform: scale(0.95);
}

/*
:focus-visible
apply styles only when focused by keyboard but NOT THE MOUSE
*/
.button:focus-visible {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* || Inputs */

/* focus */
.input:focus,
.textarea:focus {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* required */
*:required,
*[aria-required="true"] {
    position: relative;
}

*:required::after,
*[aria-required="true"]::after {
    content: "*";
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--error-clr);
}

/* invalid after interaction */
*:user-invalid,
*[aria-user-invalid="true"] {
    border: var(--border-w2) solid var(--error-clr);
}

/* valid after interaction*/
*:user-valid:not(button),
*[aria-user-valid="true"]:not(.button) {
    border: var(--border-w2) solid var(--success-clr);
}

/* disabled */
*:disabled,
*[aria-disabled="true"] {
    cursor: not-allowed;
}

/* ================== */
/* ||    LAYOUT       */
/* ================== */

/* sections */

.section {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.section__title {
    color: var(--secondary-clr);
    font-family: var(--header-font-family);
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.section__subtitle {
    color: var(--secondary-clr);
    font-family: var(--header-font-family);
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
}

/* cards */
.card__actions {
    display: flex;
    justify-content: start;
    gap: 10px;
}

/* #hero */
#hero {
    --bg-offset: min(40vw, 500px);
    --left-margin: min(5vw, 200px);
    background: url("../assets/img/banner.png") no-repeat;
    background-size: cover;
    background-position: var(--bg-offset) center;

    height: 100vh;
    gap: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    padding: 0;
}

.logo {
    position: absolute;
    left: var(--left-margin);
    top: 100px;
    width: min(100%, 140px);
}

.hero__content {
    position: relative;
    flex: 1;
    height: 100%;
}

.hero__content-block {
    font-size: min(6vw, 6.5rem);
    position: absolute;
    left: var(--left-margin);
    bottom: 100px;
}

.hero__title {
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-weight: 900;
}

.hero__title .accent {
    display: block;
    color: white;
    background-color: var(--button-accent-bg-clr);
    padding: min(1vh, 30px) min(1vw, 20px);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    margin-bottom: 40px;
}

/* sidebar */
.sidebar {
    position: static;
    background: var(--secondary-clr);
    height: 100%;
    width: clamp(300px, 20vw, 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.nav__list {
    padding: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.nav__link {
    text-wrap-mode: nowrap;
    color: var(--text-white-clr);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* #build-your-base */
#build-your-base {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#build-your-base .section__cards {
    width: min(70vw, 1400px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 70px
}

#build-your-base .card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary-clr);
}

#build-your-base .card__image {
    width: 96px;
}

#build-your-base .card__title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

#build-your-base .card__text {
    font-size: 1.3rem;
    text-align: center;
}

/* #products */
#products {
    background-image: url("../assets/img/secondary-color-background.png");
    background-size: 20vw 100%;
    background-repeat: no-repeat;
}

#products .section__cards {
    width: min(1200px, 80%);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 40px;
    column-gap: 30px;
}

.product__card {
    padding: 20px;
    background-color: white;
    color: var(--secondary-clr);
    box-shadow: var(--card-shadow);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.product__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.product__title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.4rem;
}

.product__price {
    color: var(--button-accent-bg-clr);
    font-size: 1.4rem;
    margin: 0;
}

.product__image {
    max-height: 300px;
}

/* #giftsets */
#giftsets {
    background-color: var(--section-bg-primary-2-clr);
}

#giftsets .section__container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

.giftset {
    padding: 60px 30px;
    width: min(85vw, 1000px);
    background-color: var(--section-bg-primary-1-clr);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.giftset__image {
    max-width: 50%;
    box-shadow: 0 10px 5px rgb(167, 167, 167, 0.3);
}

#giftsets .selector {
    display: flex;
    flex-direction: column;
}

#giftsets .selector__item,
#giftsets .selector__item--active {
    border-radius: 0;
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
    width: 100px;
}

#giftsets .selector__item {
    background: none;
    box-shadow: 2px 2px 5px inset rgba(129, 129, 129, 0.2);
}

#giftsets .selector__item--active {
    color: var(--text-inactive-clr);
    background: white;
}

.giftset__content {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.giftset__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.giftset__title {
    font-size: 2rem;
    font-weight: bold;
}

.giftsett__content .order-button {
    font-size: 0.9rem;
    color: white;
    background-color: var(--button-accent-bg-clr);
    padding: 8px 40px;
    border-radius: 10px;
}

.giftset__content .card__actions {
    justify-content: space-between;
}

.giftset__properties {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.property {
    display: flex;
}

.property__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.property__title {
    font-size: 0.8rem;
    color: var(--text-inactive-clr);
    width: max-content;
}

/* #combos */
#combos {
    background-image: url("../assets/img/secondary-color-background.png");
    background-repeat: no-repeat;
    background-size: 20vw 100%;
    background-position: right center;
}

#combos .selector {
    overflow: hidden;
    width: min(1400px, 80vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.combo {
    max-width: 350px;
    background-color: white;
    color: var(--secondary-clr);
    padding: 30px;
    box-shadow: var(--card-shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.combo__title {
    font-size: 1.5rem;
    font-weight: bold;
}

.combo .price-container {
    gap: 10px;
}

.combo__price {
    color: var(--button-accent-bg-clr);
}

.combo__price--old {
    font-size: 0.9em;
    color: var(--text-inactive-clr);
    text-decoration: line-through;
}

/* #footer */
#footer {
    color: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--section-bg-primary-2-clr);
}

@media (max-width: 1400px) {

    /* build-your-base */
    #build-your-base .card__title {
        font-size: 2.5rem;
    }

    #build-your-base .card__text {
        font-size: 1.5rem;
    }

    /* || giftsets */
    #giftsets .section__container {

        width: 90vw;
        flex-direction: column-reverse;
    }

    #giftsets .section__container>* {
        width: 100%;
    }

    #giftsets .selector {
        flex-direction: row;
    }

    #giftsets .selector__item,
    #giftsets .selector__item--active {
        height: 120px;
        max-width: none;
        flex: 1;
    }

    #giftsets .selector__item:hover,
    #giftsets .selector__item--active:hover {
        cursor: pointer;
    }

    .giftset {
        padding: 20px;
        flex-direction: column;
        gap: 40px;
    }

    .giftset__content {
        gap: 20px;
        padding: 0;
    }

    .property {
        padding: 0;
    }

    .property__icon {
        --size: 54px;
        aspect-ratio: 1/1;
        width: var(--size);
        height: var(--size);
    }

    /* combos */
    #combos .selector {
        justify-content: left;
    }
}