/* ================== */
/* ||    GENERAL      */
/* ================== */

:root {
    --header-font-family: "TikTok Sans",
        Arial,
        Helvetica,
        sans-serif;
    --body-font-family: 'Nunito Sans',
        Arial,
        Helvetica,
        sans-serif;

    --border-w2: 2px;

    --m10: 10px;
    --m15: 15px;

    --pd-10: 10px;
    --pd-15: 15px;

    --gap-5: 5px;
    --gap-10: 10px;
    --gap-15: 15px;
    --gap-20: 20px;
    --gap-30: 30px;

    --button-hover-bg-clr: #f0f0f0;
    --button-hover-text-clr: #2c5530;

    --focus-clr: rgba(71, 71, 126, 0.6);
    --error-clr: red;
    --success-clr: rgb(54, 216, 54);
    --disabled-bg-clr: rgb(95, 95, 95);
    --disabled-text-clr: rgb(65, 65, 65);

    --text-primary-clr: black;
    --text-secondary-clr: hsl(0, 0%, 70%);

    --section-bg-primary-clr: white;
    --section-bg-secondary-clr: hsl(218, 29%, 95%);

    font-family: var(--body-font-family);
    scroll-behavior: smooth;
}



.button {
    border: none;
    background: none;
}

.button__icon {
    width: 100%;
}

.cart-button {
    width: 48px;
    height: 48px;
    aspect-ratio: 1/1;
}

.price {
    font-size: 1.1rem;
}

.price::after {
    content: "$";
    display: inline-block;
    margin-left: 2px;
}

/* ================== */
/* || INTERACTIVITY   */
/* ================== */

/* || Links */

.nav__link:hover {
    cursor: pointer;
    background-color: var(--button-hover-bg-clr);
    color: var(--button-hover-text-clr);
}

/* || Buttons */

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

/*
:focus-visible
apply styles only when focused by keyboard but NOT THE MOUSE
*/
.button:focus-visible {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* || Inputs */

/* focus */
.input:focus,
.textarea:focus {
    border: var(--border-w-normal) solid var(--focus-clr);
}

/* required */
*:required,
*[aria-required="true"] {
    position: relative;
}

*:required::after,
*[aria-required="true"]::after {
    content: "*";
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--error-clr);
}

/* invalid after interaction */
*:user-invalid,
*[aria-user-invalid="true"] {
    border: var(--border-w2) solid var(--error-clr);
}

/* valid after interaction*/
*:user-valid:not(.button),
*[aria-user-valid="true"]:not(.button) {
    border: var(--border-w2) solid var(--success-clr);
}

/* disabled */
*:disabled,
*[aria-disabled="true"] {
    cursor: not-allowed;
}

/* ================== */
/* ||    LAYOUT       */
/* ================== */

/* navbar */

.nav__list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__item {
    width: max-content;
}

.nav__link {
    width: 100%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background 0.3s ease, color 0.3s ease;
}

/* sections */

.section {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-family: var(--header-font-family);
    font-size: 2.5rem;
    text-align: center;
}

/* #build-your-base */
#build-your-base .section__cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#build-your-base .card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#build-your-base .card__image {
    width: 64px;
}

#build-your-base .card__text {
    text-align: center;
    font-size: 0.8rem;
}

/* #products */
#products .section__cards {
    margin: 0 100px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: start;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
}

.product__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    padding: 20px;
}

.product__title {
    font-size: 1.4rem;
    margin: 0;
}

.product__image {
    margin: 0 auto;
    width: clamp(100px, min(100%, 10vmax), 300px);
}