/* || FONTS */

@font-face {
    font-family: "TikTok Sans";
    src: url("../assets/fonts/TikTok_Sans/TikTokSans-VariableFont.ttf") format("truetype-variations");
    font-style: normal;
    font-weight: 500 900;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC.ttf") format("truetype-variations");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans Italic";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC.ttf") format("truetype-variations");
    font-style: italic;
    font-display: swap;
}

/* || TEXT */

:root {
    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.section__title {
    font-family: "TikTok Sans", Arial, Helvetica, sans-serif;
    font-size: 6rem;
    font-weight: 900;
}